.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .spacer {
    flex: 1 1 auto;
  }
  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
    }
    nav a {
      margin-right: 20px;
      text-decoration: none;
    }
  }

}



