<mat-toolbar color="primary" class="header-toolbar mb-5">
    <div class="logo">
        <a href="https://caremonitor.com.au/">
            <img src="https://images.squarespace-cdn.com/content/v1/5e6ef85c216efa61c69fab83/42992c12-eb87-4ea8-aa1e-9dadf7dbc1a7/CareMonitor-COL.png?format=1500w"
                alt="Logo" height="40" />
        </a>
    </div>

    <span class="spacer"></span>

    <nav>
        <a mat-button routerLink="/dashboard">Dashboard</a>
        <a mat-button routerLink="/items">Items List</a>
    </nav>

    <!-- <span class="spacer"></span> -->

    <button mat-flat-button (click)="onLogout()" aria-label="Logout">
        Logout<mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>