:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    mat-form-field {
        width: 100%;
    }
    .login-card {
        max-width: 600px;
    }
    @media screen and (max-width: 600px) {
       .login-card {
            max-width: 80%;
        }  
        
    }

}