:host {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .list-card {
        width: 70%;
    }
    @media screen and (max-width: 600px) {
       .list-card {
            width: 90%;
        }  
        
    }

}